@import url('https://fonts.googleapis.com/css?family=Lato');

/* GLOBAL */

*{
    font-family:  'Lato', sans-serif;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

::selection {
    background: #f9c349;
    color: black;
}

body{
    margin: 0;
    padding: 0;
    /* display: block; */
    display: flex;
    flex-direction: column;
    background-color: black;
    /* background-color: #f8f7f3; */
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #ffb121;
    text-decoration: underline;
}

a figure {
	position: relative;
}
a figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
a figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
.selected{
    color: #ffb121;
}

/* HEADER - NAVBAR */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

nav a{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

nav a img{
    max-height: 50px;
}

#mob-menu{
    display: flex;
    flex-direction: row;
}
#menu-icon{
    display: none;
}
.mob-hid{
    z-index: 1;
    display: flex;
}

@media only screen and (max-width: 900px) {
    header{
        align-items: center;
        flex-direction: column;
        height: 80px;
        margin: 0;
        padding: 0;
    }

    #mob-menu{
        justify-content: space-between;
        width: 100vw;
    }
    #menu-icon{
        display: flex;
        margin-right: 50px;
    }

    nav{
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .mob-hid{
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100vw;
        height: 50px;
        margin: 0;
        padding: 0;
    }
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    height: 75px;
    align-items: center;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

/* HOME */

.hero{
    height: 80vh;
    padding: 80px;
    display: flex;
    flex-direction: column;
}

#hero-one{
    position: relative;
}

#hero-one::after{
    content: "";
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('https://images.pexels.com/photos/1687845/pexels-photo-1687845.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-ctn{
    max-width: 50vw;
}

.hero-ctn h1 {
    color: white;
    font-size: 36pt;
}

.hero-ctn h3 {
    color: white;
    font-weight: 200;
    font-size: 24pt;
}

.featured{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}

#featured-rent{
    background-color: #f8f7f3;
}

#featured-com{
    background-color: white;
}

#featured-fts{
    background-color: #f8f7f3;
}

.bg{
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
}

.bg h1{
    font-size: xx-large;
    margin: 0;
}

.bg-none{
    background: none;
}

#bg-login{
    background-image: url('https://images.pexels.com/photos/2582818/pexels-photo-2582818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

#sec-login{
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
}

.sec-child{
    width: 50%;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    #sec-login{
        flex-direction: column;
    }
    .sec-child{
        width: 85%;
        margin: 25px 0 25px 0;
    }
}

.name-div{
    display: flex;
    flex-direction: row;
}

.form-main{
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 50px;
}

.form-field{
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    width: 30vw;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0px;
    margin: 5px 5px;
    background: transparent;
    transition: border-color 0.2s;
}
.form-field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: #edece8;
    border-image-slice: 1;
}
.form-field::placeholder{
    transition: color 0.2s;
    font-weight: normal;
}
.form-field:focus::placeholder{
    color: #fff;
}

.form-submit{
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #9b9b9b;
    padding: 1vh 15px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    transition: background-color 0.2s;
    width: fit-content;
    align-self: center;
}
.form-submit:hover{
    background-color: #edece8;
    text-decoration: none;
    color: #0a0b0c;
}

.form-field-res{
    border: 0;
    border-bottom: 2px solid rgba(10, 11, 12, 0.2);
    outline: 0;
    
    font-size: 1.3rem;
    color: #0a0b0c;
    padding: 7px 0px;
    margin: 5px 5px;
    background: transparent;
    transition: border-color 0.2s;
}
.form-field-res:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: rgba(10, 11, 12,1);
    border-image-slice: 1;
}
.form-field-res::placeholder{
    transition: color 0.2s;
    font-weight: normal;
}
.form-field-res:focus::placeholder{
    color: rgba(10, 11, 12,1);
}
.form-submit-inv{
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #0a0b0c;
    padding: 1vh 15px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    transition: background-color 0.2s;
    width: fit-content;
    align-self: center;
}
.form-submit-inv:hover{
    background-color: #edece8;
    text-decoration: none;
    color: #0a0b0c;
}



