@import url('https://fonts.googleapis.com/css?family=Lato');

/* GLOBAL */

*{
    font-family:  'Lato', sans-serif;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

::selection {
    background: #f9c349;
    color: black;
}

body{
    margin: 0;
    padding: 0;
    /* display: block; */
    display: flex;
    flex-direction: column;
    background-color: black;
    /* background-color: #f8f7f3; */
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #ffb121;
    text-decoration: underline;
}

a figure {
	position: relative;
}
a figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
a figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
.selected{
    color: #ffb121;
}

/* HEADER - NAVBAR */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

nav a{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

nav a img{
    max-height: 50px;
}

#mob-menu{
    display: flex;
    flex-direction: row;
}
#menu-icon{
    display: none;
}
.mob-hid{
    z-index: 1;
    display: flex;
}

@media only screen and (max-width: 900px) {
    header{
        align-items: center;
        flex-direction: column;
        height: 80px;
        margin: 0;
        padding: 0;
    }

    #mob-menu{
        justify-content: space-between;
        width: 100vw;
    }
    #menu-icon{
        display: flex;
        margin-right: 50px;
    }

    nav{
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .mob-hid{
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100vw;
        height: 50px;
        margin: 0;
        padding: 0;
    }
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    height: 75px;
    align-items: center;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

/* HOME */

.hero{
    height: 80vh;
    padding: 80px;
    display: flex;
    flex-direction: column;
}

#hero-one{
    position: relative;
}

#hero-one::after{
    content: "";
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('https://images.pexels.com/photos/1687845/pexels-photo-1687845.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-ctn{
    max-width: 50vw;
}

@media only screen and (max-width: 1000px) {
    .hero-ctn{
        max-width: 80vw;
    }
}

@media only screen and (max-width: 1200px) {
    .hero-ctn{
        max-width: 70vw;
    }
}

.hero-ctn h1 {
    color: white;
    font-size: 32pt;
}

.hero-ctn h3 {
    color: white;
    font-weight: 200;
    font-size: 24pt;
}

@media only screen and (max-height: 900px) {
    .hero-ctn h1{
        font-size: 24pt;
    }

    .hero-ctn h3{
        font-size: 18pt;
    }
}
.featured{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}

.featured-new{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#featured-rent{
    background-color: #f8f7f3;
}

#featured-com{
    background-color: white;
}

#featured-fts{
    background-color: #f8f7f3;
}

.bg{
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
}

.bg h1{
    font-size: xx-large;
    margin: 0;
}

.bg-none{
    background: none;
}

#bg-login{
    background-image: url('https://images.pexels.com/photos/2582818/pexels-photo-2582818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

#sec-login{
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-between;
}

.sec-tr{
    background-color: white;
    flex-direction: column;
    justify-content: center;
}

.sec-child{
    width: 50%;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    #sec-login{
        flex-direction: column;
    }
    #sec-tr{
        flex-direction: column;
    }
    .sec-child{
        width: 85%;
        margin: 25px 0 25px 0;
    }
}

.name-div{
    display: flex;
    flex-direction: row;
}

.form-main{
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 50px;
}

.form-field{
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    width: 30vw;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0px;
    margin: 5px 5px;
    background: transparent;
    transition: border-color 0.2s;
}
.form-field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: #edece8;
    border-image-slice: 1;
}
.form-field::placeholder{
    transition: color 0.2s;
    font-weight: normal;
}
.form-field:focus::placeholder{
    color: #fff;
}

.form-submit{
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #9b9b9b;
    padding: 1vh 15px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    transition: background-color 0.2s;
    width: fit-content;
    align-self: center;
}
.form-submit:hover{
    background-color: #edece8;
    text-decoration: none;
    color: #0a0b0c;
}

.form-field-res{
    border: 0;
    border-bottom: 2px solid rgba(10, 11, 12, 0.2);
    outline: 0;
    
    font-size: 1.3rem;
    color: #0a0b0c;
    padding: 7px 0px;
    margin: 5px 5px;
    background: transparent;
    transition: border-color 0.2s;
}
.form-field-res:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: rgba(10, 11, 12,1);
    border-image-slice: 1;
}
.form-field-res::placeholder{
    transition: color 0.2s;
    font-weight: normal;
}
.form-field-res:focus::placeholder{
    color: rgba(10, 11, 12,1);
}
.form-submit-inv{
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #0a0b0c;
    padding: 1vh 15px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    transition: background-color 0.2s;
    width: fit-content;
    align-self: center;
}
.form-submit-inv:hover{
    background-color: #edece8;
    text-decoration: none;
    color: #0a0b0c;
}

.item-main{
    display: flex;
    flex-direction: row;
    background-color: #f8f7f3;
    min-height: 50vh;
    justify-content: space-evenly;
    padding: 5vh 5vw 5vh 5vw
}

#item_pic{
    width: 40vw;
}

.item-lr{
    width: 40vw;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .item-main{
        flex-direction: column;
    }

    #item_pic{
        width: 100%;
    }

    .item-lr{
        width: 100%;
    }
}



#item_name{
    margin: 0;
    font-size: xx-large;
    font-weight: 400;
}

#item_price{
    margin: 0;
}

#item_qty_label{
    font-size: 14pt;
}

#item_qty{
    border: 0;
    border-bottom: 2px solid rgba(10, 11, 12, 0.2);
    outline: 0;
    width: 40px;
    font-size: 1.3rem;
    color: #0a0b0c;
    padding: 7px 0px;
    margin: 5px 10px;
    background: transparent;
    transition: border-color 0.2s;
}

.item_qty{
    border: 0;
    border-bottom: 2px solid rgba(10, 11, 12, 0.2);
    outline: 0;
    width: 40px;
    font-size: 1.3rem;
    color: #0a0b0c;
    padding: 7px 0px;
    margin: 5px 10px;
    background: transparent;
    transition: border-color 0.2s;
}

#item_qty:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: rgba(10, 11, 12,1);
    border-image-slice: 1;
}

.btn-yellow{
    background-color: #f9c349;
    font-size: medium;
}

.btn-yellow:hover{
    background-color: #ffb121;
}

.btn-rep{
    align-self: flex-start;
}

#item_rent{
    width: 80px;
}

.item-additional{
    display: flex;
    flex-direction: column;
}

.item-add-item{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#item_reviews{
    background-color: white;
}

.item_input_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw !important;
}

#item_input_review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

#item_input_review label {
    margin: 10px 0;
}

#item_input_review input[type="radio"] {
    display: none;
}

#item_input_review input[type="radio"] + label:before {
    content: "\2605";
    color: gold;
    margin-right: 5px;
    font-size: 25px;
    cursor: pointer;
}

#item_input_review input[type="radio"]:checked + label:before {
    content: "\2605";
    color: gold;
}

#item_input_review input[type="radio"]:checked + label ~ input[type="radio"] + label:before {
    content: "\2605";
    color: gold;
}

#item_input_review #star1:checked ~ label[for="star1"] ~ input[type="radio"] + label:before {
    content: "\2606";
    color: #ccc;
}

#item_input_review #star2:checked ~ label[for="star2"] ~ input[type="radio"] + label:before {
    content: "\2606";
    color: #ccc;
}

#item_input_review #star3:checked ~ label[for="star3"] ~ input[type="radio"] + label:before {
    content: "\2606";
    color: #ccc;
}

#item_input_review #star4:checked ~ label[for="star4"] ~ input[type="radio"] + label:before {
    content: "\2606";
    color: #ccc;
}

.item_input_review_comment{
    border: 1px solid rgba(10, 11, 12, 0.2);
    border-radius: 0 !important;
    outline: 0;
    resize: none;
    color: #0a0b0c;
    padding: 7px 0px;
    margin: 5px 10px;
    background: transparent;
    transition: border-color 0.2s;
    width: 100% !important;
}

.item_input_review_comment:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 2px;
    border-color: rgba(10, 11, 12,1);
    border-image-slice: 1;
}

.item_reviews_list {
    list-style: none;
    padding: 0;
    width: 70vw;
}

.item_review_container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0 20px 0;
    align-self: center;
}

.item_review_container_two {
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin: 20px 0 20px 0;
    align-self: center;
}
.item_review_user {
    margin: 0 0 5px 0;
}

.item_review_date {
    font-size: 12px;
    color: #666;
}

.item_review_rating {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    padding: 0;
}

.item_review_rating li.checked {
    color: #ffcc00;
}

.item_review_rating li.star {
    color: #ddd;
}
 
.item_review_comment {
    margin: 0;
}

.item_review_reply_trigger{
    font-size: small;
    padding: 2px;
}

.item_review_replies{
    margin-left: 30px;
}

#item_related{
    background-color: #f8f7f3;
}

#marketplace-main{
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#filter-main{
    display: flex;
}

#products_main{
    display: flex;
    flex-direction: row;
    padding: 0
}

#cart_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0
}

@media only screen and (max-width: 500px) {
    #filter-main{
        flex-direction: column;
    }
    #products_main{
        flex-direction: column;
    }
}

.product_container{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 10px 0 10px;
    width: 200px;
}

.product_img{
    width: 190px;
    height: 190px;
    margin-bottom: 10px;
}

.product_container h1{
    margin: 0;
}

.product_container div{
    font-weight: lighter;
    color: grey;
}

.product_name{
    font-size: large;
    font-weight: bold;
}

.product_price{
    font-size: large;
}

#bg-newproduct{
    background-color: white;
    height: 80vh;
    display: flex;
    justify-content: center;
}

#new_product_img_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#new_product_img_container label{
    max-width: fit-content;
    margin-right: 20px;
    border: none;
}

::file-selector-button{
    font-family:  'Lato', sans-serif;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #0a0b0c;
    padding: 1vh 15px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    transition: background-color 0.2s;
    width: fit-content;
    align-self: center;
}

::file-selector-button:hover{
    background-color: #edece8;
    text-decoration: none;
    color: #0a0b0c;
}

#new_product_desc{
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
}

#buy_page_details h3, #buy_page_details h2{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

#buy_form{
    width: 30vw;
}

#buy_address{
    margin-left: 0;
}

#purchase_cart_main{
    display: flex;
    flex-direction: row;
}

.buttons_div{
    margin-bottom: 10pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trans_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 900px) {
    #purchase_cart_main{
        flex-direction: column;
    }

    #buy_form{
        width: 80vw;
    }

    .buttons_div{
        margin-bottom: 10pt;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .trans_div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

#bg-buy{
    background-color: white;
    min-height: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}



.trans_div div h3, .trans_div div h4, .trans_div div p{
    margin-top: 5pt;
    margin-bottom: 5pt;
}

.trans_div_right{
    text-align: right;
}

.trContainerOutline{
    border: 1px solid #ccc;
    padding: 10px;
    align-self: center;
}

.wrap_trans_review{
    display: flex;
    flex-direction: row;
}

.star_trans{
    border: none;
    background: none;
    font-size: 24pt;
}

.star_trans:hover{
    color: gold;
}

.star_filled{
    border: none;
    background: none;
    font-size: 24pt;
    color: gold;
}

.star_filled:hover{
    color: black;
}